* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: blue; */
  background-color: #f9fafb;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #343a40;
  /* position: relative; */
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

section {
  /* border: 3px solid red; */
  margin-bottom: 120px;
}

button:hover {
  cursor: pointer;
}

/*==================================================================================*/

header {
  background-color: #ab54de;
  /* border: 3px solid red; */

  /* width: 100%; */
  /* padding: 14px 0; */
  margin-bottom: 80px;
  width: 100vw;
  position: fixed;

  z-index: 10;
}

.standard-container {
  /* width: 1200px; */
  width: 80vw;
  margin: 0 auto;
}

.nav-container {
  /* border: 3px solid blue; */

  display: flex;
  justify-content: space-between;
}

.logo-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  /* background-color: yellow; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.logo-name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.home {
  background-color: #833eb8;
}

.menu-nav li a {
  /* border: 2px solid blue; */
  color: #fff;

  padding: 22px 16px;
}

.menu-nav li a:link,
.menu-nav li a:visited {
}

.menu-nav li a:hover,
.menu-nav li a:active {
  background-color: #833eb8;
  /* transition: all 0.5s ease-out allow-discrete; */
  transition: 0.5s;
}

.hero-header {
  /* background-color: blue; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
    url(../asset/bg-image.jpg);

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin-bottom: 80px;
}

.hero-content {
  /* background-color: green; */
  color: #fff;
  text-align: center;
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-content .hero-content-btn {
  /* border: 4px solid orange; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  border: none;
  font-size: 20px;
  padding: 20px 45px;
  border-radius: 100px;
}

.btn-1 {
  color: #fff;
  background-color: #ab54de;
}

.btn-1:hover {
  background-color: #833eb8;
  transition: 0.5s;
}

.btn-2 {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.btn-2:hover {
  background-color: #fff;
  color: #833eb8;
  transition: 0.5s;
}

/* .hero-content h1 {
  text-align: center;
} */

/*==================================================================================*/

.feature-row {
  /* background-color: forestgreen; */

  display: flex;
  gap: 30px;
}

.feature-icon {
  /* border: 2px solid blue; */
  stroke: #ab54de;
  width: 40px;
  height: 40px;
}

.feature-box {
  /* border: 3px solid blue; */

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
}

.feature-box:hover {
  /* border-bottom: 2px solid red; */
  border-radius: 12px;
  box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 30px;
  /* transform: scale(1.5); */
  /* transform: none; */
  transition: 0.5s;

  transform: scale(1.1);
  transition: all 0.5s;
}

.feature-icon:hover {
  stroke: #833eb8;
}

.feature-title {
  font-size: 32px;
}

.feature-text {
  line-height: 1.5;
}

/*==================================================================================*/
.statistics-component {
  background-color: #ab54de;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  position: relative;
  height: 45vh;

  /* padding-bottom: 150px; */
}

.statistics-title {
  /* border: 3px solid yellow; */
  color: #fff;
  font-size: 38px;
  letter-spacing: 1.5px;

  padding-top: 30px;
  text-align: center;
}

.stats-figures {
  /* border: 3px solid orangered; */

  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 50px;

  position: absolute;
  bottom: 0;
  left: 10%;
  transform: translate(0, 50%);
}

.stats-figures figure {
  background-color: #fff;
  /* border: 3px solid purple; */
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  flex: 1;
}

.figure-text {
  font-size: 14px;
}

.stats-num {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

/*==================================================================================*/

.container-3 {
  /* border: 2px solid red; */
  /* color: #c3fae8; */
  /* color: #d0bfff; */
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 50px; */
  row-gap: 15px;
  /* padding: 10px; */
  /* margin-bottom: 60px; */
  /* width: 1270px; */
  padding-top: 80px;
}

.container-3 h3 {
  font-size: 25px;
  font-weight: normal;
}

.container-3 p {
  /* border: 2px solid red; */
  line-height: 1.5;
  /* margin-bottom: 10px; */
}

.container-3 .item {
  /* border: 4px solid green; */
}

.container-3 .item-1,
.container-3 .item-3,
.container-3 .item-5 {
  background-color: #833eb8;
  /* border: 3px solid blue; */

  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 40px;
}

.container-3 .item-2 img,
.container-3 .item-4 img,
.container-3 .item-6 img {
  /* border: 2px solid purple; */
  width: 100%;
  height: 100%;
}

.container-3 .item-1 {
  order: -5;
}

.container-3 .item-2 {
  order: -6;
}

.container-3 .item-3 {
  order: -5;
}

.container-3 .item-4 {
  order: -4;
}

.container-3 a {
  border-radius: 5em;
  /* color: #c3fae8; */
  color: #d0bfff;
  align-self: start;
  display: inline-block;
  border: 3px solid #fff;
  padding: 15px 20px;
}

.container-3 a:link {
  text-decoration: none;
}

.container-3 a:hover {
  background-color: #fff;
}

/*==================================================================================*/
.testimonial-section {
  /* background-color: #e9ecef; */
  /* background-color: #ab54de; */
  /* border: 2px solid red; */

  display: flex;
  gap: 20px;

  /* padding: 100px; */
}

.testimonial-section img {
  border-radius: 8px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonials blockquote {
  background-color: #fff;
  border-right: 3px solid #ab54de;
  border-radius: 10px;
  box-shadow: 15px 0 20px rgba(0, 0, 0, 0.3);
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials blockquote:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.testimonial-author {
  /* border: 3px solid green; */
  line-height: 1.5;

  display: flex;
  align-items: center;
  gap: 10px;
}
/*==================================================================================*/
.partners-section {
  /* border: 2px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding: 40px 0;
}

.partners-section img {
  /* border: 2px solid blue; */
}

.partners-section img {
  height: 100px;
}

.partners-section h2 {
  color: #343a40;
  font-size: 38px;
}

/*==================================================================================*/
.class-to-section {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.699), #f7f7ff); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), #ab54de);

  /* border: 3px solid orange; */
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.join-our-mission {
  /* background-color: #ab54de; */
  /* border: 3px solid blue; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  color: #fff;
  /* padding: 120px 0; */
  /* margin-bottom: 80px; */
  /* margin-bottom: 50px; */
}

.join-our-mission h1 {
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 3px;
}

.join-our-mission h2 {
  font-weight: normal;
  text-align: center;
  line-height: 1.1;
}

.join-our-mission-btn {
  display: flex;
  gap: 20px;
}

/*==================================================================================*/
.footer-container {
  /* border: 2px solid red; */
  background-color: #e9ecef;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;

  padding: 50px 150px 25px 150px;
}

footer a:hover,
footer a:active {
  /* background-color: #833eb8; */
  color: #833eb8;
}

.footer-container .item {
  /* border: 3px solid blue; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container .item h2 {
  font-weight: normal;
}

.main-footer {
  /* border: 1px solid red; */
  grid-column: 1 / -1;

  text-align: center;
}

.footer-container .item-2 li,
.footer-container .item-3 li {
  line-height: 2;
}

.footer-container .item-4 button {
  background-color: #ab54de;
  /* color: #fff; */
  font-size: 18px;

  align-self: flex-start;
  border-radius: 12px;
  padding: 15px 30px;
  cursor: pointer;
}

.footer-container .item-4 button:hover {
  background-color: white;
  /* background-color: #833eb8; */
  /* transition: all 0.5s ease-out allow-discrete; */
  transition: 0.5s;
  /* padding: 15px 30px; */
  color: #833eb8;
}

.footer-container a:link {
  color: black;
}

/* .contact-us-btn {
} */
/*==================================================================================*/

@media (max-width: 600px) {
  .standard-container {
    width: 90vw;
  }

  header {
    /* border: 2px solid red; */
    display: none;
  }

  .hero-section {
    display: none;
  }

  .feature-row {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }

  .statistics-component {
    display: none;
  }

  .container-3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-3 .item-1 {
    order: 1;
  }

  .container-3 .item-2 {
    order: 2;
  }

  .container-3 .item-3 {
    order: 3;
  }

  .testimonial-section {
    display: flex;
    flex-direction: column;
  }

  .join-our-mission {
    display: none;
  }

  footer {
    display: none;
  }
}
